<h1><%= line.lineName %></h1>
<h1><%= user.userName %></h1>

<form method="post">
<div>
  <label for="num">站点序号</label>
  <input type="text" id="num" name="num">
</div>
<div>
  <label for="stopname">站点名称</label>
  <input type="text" id="stopname" name="stopname">
</div>
<div>
  <label for="stopthumbnail">封面图片</label>
  <input type="text" id="stopthumbnail" name="stopthumbnail">
</div>
<div>
  <label for="stopdes">站点描述</label>
  <input type="text" id="stopdes" name="stopdes">
</div>
<div>
  <label for="stopimages1">站点图片1</label>
  <input type="text" id="stopimages1" name="stopimages1">
</div>
<div>
  <label for="stopimages2">站点图片2</label>
  <input type="text" id="stopimages2" name="stopimages2">
</div>
<div>
  <label for="stopimages3">站点图片3</label>
  <input type="text" id="stopimages3" name="stopimages3">
</div>
<div>
  <label for="stopaudio">介绍音频</label>
  <input type="text" id="stopaudio" name="stopaudio">
</div>
<div>
  <label for="imageorder">图片播放顺序</label>
  <input type="text" id="imageorder" name="imageorder">
</div>
<div>
  <button type="submit">提交</button>
</div>
</form>

