<h1><%= user.userName %></h1>
<form method="post">
<div>
  <label for="linename">路线名称</label>
  <input type="text" id="linename" name="linename">
</div>
<div>
  <label for="coverthumbnail">封面图片</label>
  <input type="text" id="coverthumbnail" name="coverthumbnail">
</div>
<div>
  <label for="linesummary">路线简介</label>
  <input type="text" id="linesummary" name="linesummary">
</div>
<div>
  <label for="language">语言</label>
  <input type="text" id="language" name="language">
</div>
<div>
  <label for="duration">浏览所需时间</label>
  <input type="text" id="duration" name="duration">
</div>
<div>
  <label for="topics">线路主题</label>
  <input type="text" id="topics" name="topics">
</div>
<div>
  <label for="price">线路定价</label>
  <input type="text" id="price" name="price">
</div>
<div>
  <label for="keywords">关键字</label>
  <input type="text" id="keywords" name="keywords">
</div>
<div>
  <label for="traffics">交通方案</label>
  <input type="text" id="traffics" name="traffics">
</div>
<div>
  <button type="submit">提交</button>
</div>
</form>

