<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href = "/login">登录</a>
    <a href = "/reg">注册</a>
    <a href = "/logout">登出</a>
    <a href = "/createline">创建路线</a>
    <a href = "/usercenter">用户中心</a>
    <a href = "/useredit">用户编辑</a>
    <a href = "/browselist">浏览路线</a>
    <img src = "/images/1.jpg">
  </body>
</html>
