<h1><%= user.userEmail %></h1>

<form method="post">
<div>
  <label for="username">用户姓名</label>
  <input type="text" id="username" name="username">
</div>
<div>
  <label for="password">密码</label>
  <input type="password" id="password" name="password">
</div>
<div>
  <label for="password-repeat">再次密码</label>
  <input type="password" id="password-repeat" name="password-repeat">
</div>
<div>
  <label for="userimage">用户照片</label>
  <input type="text" id="userimage" name="userimage">
</div>
<div>
  <label for="usershort">个人简介</label>
  <input type="text" id="usershort" name="usershort">
</div>
<div>
  <button type="submit">提交</button>
</div>
</form>
