/* Minification failed. Returning unminified contents.
(429,21): run-time error CSS1062: Expected semicolon or closing curly-brace, found ':'
 */
.tab-item {
	margin: 0 0 0 0;
	width: 460px;
}
.tab-form-item {
	width: 440px;
	background-color: #fff;
	margin: 0 0 10px 0;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	border-radius: 8px;
}
.tab-form-item input.txtfield {
	width: 418px;
	background-color: #f7f6f4;
	font-style: italic;
	color: #a79f95;
	margin: 0 0 8px 0;
}
.tab-form-item input.txtfield:focus {
	font-style: normal;
	color: #000;
}
.tab-form-item textarea.txtarea {
	width: 418px;
	background-color: #f7f6f4;
	font-style: normal;
	color: #000;
	margin: 0 0 8px 0;
}
.tab-form-item .selectdrop {
	margin-bottom: 10px;
}
.tab-form-desc label {
	margin-bottom: 5px;
	display: block;
}
.remove-tf-item {
	float: right;
	display: block;
	color: #9a958e;
	text-shadow: 0 1px 0 #f9f6f0;
	background: transparent url(../images/remove-credits.png) no-repeat center left;
	font-size: 12px;
	padding-left: 15px;
}
.remove-tf-item:hover {
	background: transparent url(../images/remove-credits-hover.png) no-repeat center left;
	color: #de0c0c;
}
.add-another {
	display: block;
	width: 460px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	color: #98948d;
	text-shadow: 0 1px 0 #fff;
	font-family: 'Arial W01 Rounded Bold', sans-serif;
	border: 1px dashed #93908d;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	box-shadow: 0 1px 0 rgba(255,255,255,.5), inset 0 1px 0 rgba(255,255,255,.5);
}
.add-another span {
	background: transparent url(../images/add-another.png) no-repeat center left;
	padding-left: 18px;
}
.add-another:hover {
	border: 1px dashed rgba(243,236,225,.01);
	box-shadow: none;
	background-color: rgba(255,255,255,.6);
	color: #423f3c;
	box-shadow: 0 1px 3px rgba(0,0,0,.17);
}
.add-another:active {
	border: 1px dashed rgba(243,236,225,.01);
	box-shadow: none;
	background-color: rgba(255,255,255,.99);
	color: #423f3c;
	box-shadow: 0 1px 1px rgba(0,0,0,.17);
}
#tabs {
	min-height: 200px;
	margin-bottom: 50px;
}
footer {
	z-index: 1035;
}
.tab-item {
	min-height: 307px;
}
.lightbox-price {
	width: 469px;
	height: 574px;
	padding: 10px;
}
.price-container {
	width: 402px;
	margin: 24px 0 0 33px;
}
.price-radio {
	float: left;
	height: 37px;
	line-height: 37px;
	padding-left: 8px;
	font-size: 15px;
}
.price-radio label {
	padding-left: 8px;
}
.price-choose {
	float: right;
}
.price-choose .selectBox {
	min-width: 100px;
}
.price-list-container {
	height: 310px;
	margin-top: 10px;
}
.price-list {
	width: 402px;
	height: 310px;
	background-color: #f5f5f5;
	border: 1px solid #dcdcdc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	overflow: auto;
}
ul.tiers {
	width: 375px;
	margin-left: 5px;
}
ul.tiers li {
	display: block;
	height: 35px;
	border-top: 1px dotted #c4c4c4;
	line-height: 35px;
	font-size: 15px;
	color: #000;
}
.tier-radio-header {
	width: 28px;
	display: block;
	float: left;
	padding-top: 2px;
}
.tier-radio {
	width: 20px;
	display: block;
	float: left;
	margin-left: 8px;
}
.tier-field {
	width: 158px;
	float: left;
}
.price-field {
	width: 180px;
	float: left;
}
.price-header {
	height: 37px;
	line-height: 35px;
	font-size: 15px;
	margin-left: 5px;
}
.price-header {
	font-weight: bold;
}
.info-important {
	margin-top: 18px;
	color: #828282;
	font-size: 13px;
	line-height: 21px;
}
.info-important strong {
	color: #f38618;
}
.price-ctrl {
	float: right;
}
.price-ctrl-free {
	float: right;
}
#price-value {
	padding: 0 55px 0 60px;
}
.lightbox-free {
	width: 509px;
	height: 454px;
	padding: 10px;
}
.free-container {
	width: 442px;
	margin: 34px 0 0 33px;
}
.free-c-input {
	margin: 0 0 20px 0;
}
.free-c-input label {
	margin-left: 11px;
	font-size: 15px;
}
.fc-disabled label {
	color: #c6c6c6;
}
.free-c-info {
	width: 358px;
	height: 90px;
	background: transparent url(../images/free-c-info.png) no-repeat 0 0;
	font-size: 15px;
	line-height: 24px;
	color: #423f3c;
	padding: 110px 42px 0 42px;
	margin-bottom: 30px;
}
.free-c-info a {
	color: #f38818;
}
#file_uploadUploader, #file_upload1Uploader {
	margin-left: -151px;
	width: 150px;
	height: 45px;
	border: 0;
	outline: 0;
}
.ui-dialog, .ui-dialog-content {
	z-index: 2000 !important;
}
.uploadifyQueue {
	position: relative;
	top: -88px;
	left: 150px;
}
.uploadifyQueueItem {
	font: 11px Arial, Helvetica, sans-serif;
	margin-top: 5px;
	max-width: 250px;
	padding: 12px 10px;
}
.uploadifyQueueItem .cancel {
	float: right;
	margin-top: -5px;
}
.uploadifyQueueItem .fileName {
	color: #736357;
}
.uploadifyProgress {
	background-color: #CCC;
	margin-top: 10px;
	width: 100%;
}
.uploadifyProgressBar {
	background-color: #F7931E;
	height: 6px;
	width: 1px;
}
.map-thumb {
	display: block;
	float: left;
	margin-right: 12px;
	width: 336px;
	min-height: 251px;
}
.map-thumb a {
	display: block;
	width: 336px;
	height: 187px;
	margin-left: -10px;
	text-align: center;
	position: relative;
}
.map-thumb a b {
	display: block;
	width: 336px;
	height: 187px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	zoom: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.7s;
	-moz-transition:    opacity 0.7s;
	-o-transition:      opacity 0.7s;
}
.map-thumb:hover a b {
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
.map-thumb-google a {
	background: transparent url(../images/map-thumb-google.jpg) no-repeat 0 0;
}
.map-thumb-google a b {
	background: transparent url(../images/map-thumb-google.jpg) no-repeat 0 -187px;
}
.map-thumb-custom a {
	background: transparent url(../images/map-thumb-custom.jpg) no-repeat 0 0;
}
.map-thumb-custom a b {
	background: transparent url(../images/map-thumb-custom.jpg) no-repeat 0 -187px;
}
/*.map-thumb:hover a {
	background-position: 0 -187px;
}*/
.map-thumb a em {
	display: inline-block;
	position: relative;
	font-style: normal;
	height: 38px;
	line-height: 34px;
	padding: 0 15px;
	margin: 75px auto 0 auto;
	background-color: #696766;
	background-color: rgba(61,61,63,.75);
	font-size: 21px;
	font-family: 'Arial W01 Rounded Bold', sans-serif;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	-moz-border-radius: 19px;
	-webkit-border-radius: 19px;
	border-radius: 19px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.map-thumb:hover a em {
	background-color: #3d3d3f;
}
.map-thumb p {
	color: #6b6761;
	font-size: 14px;
	line-height: 19px;
	width: 320px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	opacity: .4;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}
.map-thumb:hover p {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.map-thumb-on a {
	background-position: 0 -374px;
}
.map-thumb-on:hover a b {
	background-position: 0 -374px;
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}
.map-thumb-on:hover a {
	background-position: 0 -374px;
}
.map-thumb-on p {
	opacity: 1;
}
.map-thumb-on:hover a em {
	background-color: #696766;
	background-color: rgba(61,61,63,.75);
}
#map-thumb-location {
	margin-top: 20px;
}
#map-thumb-location input.txtfield:focus {
	color: #535355;
	font-style: normal;
}
.sb-opt {
	position: relative;
}
.sb-opt p.charleft {
	top: 0;
}
.sb-opt .error-msg {
	margin-top: -10px;
}

.tab-form-item input.txt-edited, .tab-form-item textarea.txt-edited,
#map-thumb-location input.txt-edited {
	font-style: normal;
	color: #535355;
}

input:focus::-moz-placeholder {
    font-style: italic !important;
    color: #a79f95 !important;
}
input:focus:-moz-placeholder {
    font-style: italic !important;
    color: #a79f95 !important;
}
.gaming-check {
	display: block;
	float: left;
	width: 30px;
	height: 60px;
}
.gaming-info {
	width: 600px;
	font-size: 14px;
	color: #6b6761;
	line-height: 21px;
	text-shadow: 0 1px 0 #fff;
	float: left;
}
.gaming-info a {
	color: #f5951e;
}
div.tagsinput { overflow-y: auto;}
div.tagsinput span.tag { 
	
	
 -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 5px; text-decoration:none; background: #fefefe; color: #535355; margin-right: 5px; margin-bottom:5px;font-family: helvetica;  font-size:14px;
	font-weight: normal;
		font-family: 'Arial W01 Rounded Bold', sans-serif
		
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		background-color: #efefef;
		-moz-box-shadow:
			0 1px 5px rgba(0,0,0,.3),
			0 0 0 1px #a4a4a4;
		-webkit-box-shadow:
			0 1px 5px rgba(0,0,0,.3),
			0 0 0 1px #a4a4a4;
		box-shadow:
			0 1px 5px rgba(0,0,0,.3),
			0 0 0 1px #a4a4a4;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
		background-image: -moz-linear-gradient(90deg, #efefef 0%, #fff 100%);
		background-image: -o-linear-gradient(90deg, #efefef 0%, #fff 100%);
		background-image: -webkit-linear-gradient(90deg, #efefef 0%, #fff 100%);
		background-image: linear-gradient(90deg, #efefef 0%, #fff 100%);
		
		
		;
	
	}
div.tagsinput span.tag a { font-weight: bold; color: #a5a5a6; text-decoration:none; font-size: 11px;  } 
div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:5px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; } 
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}


div.tagsinput {
	height: 36px;
	border: 1px solid #C5BEB3;
	box-shadow: 0 1px 0 white, inset 0 1px 0 #EEE;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 8px 10px 0 10px;
	color: #535355;
	background-color: #fff;
	min-height: 36px !important;
}
.tag-container {
	height: 36px;
}
#tag1_tag:focus {

}

div.tagsinput-active {
	border: 1px solid #f5951e;
	box-shadow: none;
	box-shadow: 0 1px 4px 1px rgba(0,0,0,.25);
	background-color: #fff !important;
}

ul.ui-autocomplete {
	background-color: #fff !important;
	font-size: 14px;
	font-weight: normal;
	font-family: 'Arial W01 Rounded Bold', sans-serif;	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0 2px 6px rgba(0,0,0,.3);
	padding: 10px 0 10px 0;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background-image: none !important;
	background-color: #f5951e;
	color: #fff;
}



























